*{
    box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
}



nav{

    padding: 0 10px;
    margin: 0 30px;
}

nav ul {

    list-style-type:none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
}
nav ul li{
width:20%;

}